<div class="space-y-1 space-x-1">
    <h1 class="text-xl font-bold underline">
        Merge Tables

    </h1>

    <button mat-flat-button color="primary" (click)="getDataFromClipBoard($event)"> Paste Primary Table</button>


    <app-table [tableData]="table1Data" [tableHeader]="table1Header"></app-table>

    <button mat-flat-button color="primary" (click)="getDataFromClipBoard2($event)"> Paste Secondary Table</button>

    <app-table [tableData]="table2Data" [tableHeader]="table2Header"></app-table>

</div>