.table-container {
    height: 33vh;
    overflow: auto;
    margin: 5px 0px;
}

table {
    width: 100%;
}

th,
td {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;


}

th:not(:first-of-type),
td:not(:first-of-type) {

    border-left: 1px solid #e0e0e0;

}