<div class="space-y-1 space-x-1">
    <h1 class="text-xl font-bold underline">
        Amount to English

    </h1>

    <div class="cflex cjustify-between">
        <div>
            <button mat-flat-button color="primary" (click)="getDataFromClipBoard($event)"> Paste Primary Table</button>

        </div>
        <span class="cflex cjustify-end">
            <button mat-flat-button color="accent" (click)="convertToWords()">
                convertToWords
            </button>


        </span>
    </div>
    <app-table [tableData]="table1Data" [tableHeader]="table1Header" [headerChecks]="false"></app-table>

    <div style="margin-top: 4px;">
        <span class="cflex cjustify-end">
            <button mat-flat-button color="accent" (click)="Copy($event)" [disabled]="table2Data.length === 0">
                Copy</button>
        </span>
        <app-table [tableData]="table2Data" [tableHeader]="table1Header" [headerChecks]="false"></app-table>

    </div>

</div>